/* Very simple styles applied to the card */
.container {
  text-align: center;
  border: 3px solid green;
}

.title {
  color: rgb(52, 132, 175);
}

.text {
  color: rgb(69, 163, 89);
}

.counter {
  color: green;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
